<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="One.SIG.Sistema.Datos.Paradise.Properties.Settings.ParadiseConnectionString"
            connectionString="Data Source=Server01;Initial Catalog=Paradise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>